/* CSS 초기화 */
body,h1,h2,h3,p,div,ul,li,dl,dt,dd {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans","나눔고딕", "맑은 고딕", "돋움";
  font-size: 14px;
  color:#222;
  letter-spacing:-1px;
  word-spacing:-2px;
}

body button{
  font-family: "Noto Sans","나눔고딕", "맑은 고딕", "돋움";
}

ul,li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222
}
address {
  font-style: normal;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
.hide {
  position: absolute;
  left: -9999px;
  top: -9999px;
}





/* header */

.header {
  width: 1200px;
  height: 160px;
  margin: auto;
  border-top: 1px solid #fff;
  position:relative;
}

.logo {
  padding-top:48px;
  margin-bottom: 14px;
}

.logo a {
  display: block;
  width: 118px;
  height: 46px;
  background: url(images/logo.jpg) no-repeat;
  text-indent: -9999px;
}


.gnb{
  display:flex;
  justify-content: space-between;
  font-weight: bold;
  height: 52px;
  align-items: center;
}


.gnb_box1{
  display:flex;
  width:250px;
  align-items: center;
  height: 52px;
}

.category_box{
  width:89px;
  display:flex;
  position: relative;
  align-items: center;
  height: 52px;
}


.category_icon{
  display:block;
  position: relative;
  width:24px; height:24px;
  background: url(images/gnb_bar.png) no-repeat;
  margin-right:5px;
  left:-3px;
}



.hover3{
  z-index: 9;
  width:24px; height:24px;
  background: url(images/gnb_bar2.png) no-repeat;
}






.category_text{
  font-size:16px;
  line-height: 24px;
}

.category_2box{
  position: absolute;
  width:220px;
  left:0; top:52px;
  z-index: 1;
  background: #fff;
  border:1px solid #f1f1f1;
  font-size:14px;
  display:none;
}


.category_2box li a{
  display:block;
  height: 45px;
  line-height: 45px;
  padding-left:10px;
}


.category_2box ul{
  position: absolute;
  left:220px;
  width:220px;
  top:-1px;
  background: #f1f1f1;
  border:1px solid #f1f1f1;
  display:none;

}










.gnb_box2{
  display:flex;
  font-size:16px;
  line-height: 24px;  
  justify-content: space-between;
}

.gnb_box2_1 a,
.gnb_box2_2 a,
.gnb_box2_3 a,
.gnb_box2_4 a{
  display:block;
  width:150px;
  text-align: center;
}





.gnb_box3_1 a:hover{
  z-index: 1;
  width:28px; height:25px;
  background: url(images/sub_icon1_1.png);
}

.gnb_box3_2 a:hover{
  z-index: 1;
  width:25px; height:25px;
  background: url(images/sub_icon2_1.png);
}

.gnb_box3_3 a:hover{
  z-index: 1;
  width:29px; height:25px;
  background: url(images/sub_icon3_1.png);
}





.hover{
  display:block;
  color:#1b8e1d;
}



.category_2box > li > a:hover{
  color:#1b8e1d;
  border-right:3px solid #1b8e1d;
}

.category_2box ul a:hover{
  color:#1b8e1d;
  border-right:3px solid #1b8e1d;
}







.hover2{
  display:block;
  background: #f1f1f1;
  color:#1b8e1d;
}




.gnb_box3{
  display:flex;
  width: 250px;
  align-items: center;
  height: 52px;
  justify-content: flex-end;

}

.gnb_box3_1 a{
  display:block;
  width:28px; height:25px;
  background:url(images/sub_icon1.png) no-repeat;
  text-indent: -9999px;
}

.gnb_box3_2 a{
  display:block;
  width:25px; height:25px;
  background:url(images/sub_icon2.png) no-repeat;
  text-indent: -9999px;
  margin-left:16px;
}


.gnb_box3_3 a{
  display:block;
  width:29px; height:25px;
  background:url(images/sub_icon3.png) no-repeat;
  text-indent: -9999px;
  margin-left:15px;
}


.sub_menu{
  position: absolute;
  right:0;
  top:10px;
  font-size: 12px;
}

.sub_menu li{
  float:left;
}

.site_map1 a{
  color: #1b8e1d;
}

.site_map1:after {
  content: "|";
  margin: 0 9px;
  color: rgb(217, 217, 217);
}

.site_map2:after {
  content: "|";
  margin: 0 9px;
  color: rgb(217, 217, 217);
}

.search_box{
  width:400px; height:48px;
  padding-left:14px;
  border-radius: 3px;
  border:1px solid #1b8e1d;
  box-sizing: border-box;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

}


.search_box form{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.search_box input{
  display:block;
  width: 300px; height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
}

.submit_icon {
  display:block;
  width: 30px; height: 30px;
  background: url(images/header_serach.png) no-repeat;
  background-size: 90%;
  margin:0 10px 0 0;
}





/* main */

.main_image {
    width: 1200px;
    height: 360px;
    margin: 0 auto 80px;
    position: relative;
  }
  




  /* 
    원래 태그
    .main_image1 a {
    display: block;
    width: 1600px;
    height: 360px;
    background: url(images/main_image.jpg) no-repeat;
    text-indent: -9999px;
  }
 
   .main_left {
    width: 46px;
    height: 46px;
    background: url(images/main_left.png) no-repeat;
    text-indent: -9999px;
    display: block;
    position: absolute;
    left: 200px;
    top: 157px;
  }
  
  .main_right {
    width: 46px;
    height: 46px;
    background: url(images/main_right.png) no-repeat;
    text-indent: -9999px;
    display: block;
    position: absolute;
    right: 200px;
    top: 157px;
  }
  
  .main_list {
    width: 84px;
    height: 27px;
    background: url(images/main_list.png) no-repeat;
    display: block;
    position: absolute;
    bottom: 0;
    left: 200px;
  }

  */
  
  /* best item */
  
  .best, 
  .review{
    width: 1200px;
    padding: 30px 0;
    margin:auto;
  }

  .best h2,
  .review h2{
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
  }
  

  .best_box,
  .review_box{
    display:flex;
    justify-content: space-between;
  }

.best_box li,
.review_box li{
    width:283px;
    height:479px;
    position: relative;
  }

  .best_box span,
  .review_box span{
    display: block;
  }

 .product_txt1{

    font-size: 16px;
    margin: 12px 0;
  }
  
  .product_txt2{
    font-size: 16px;
    font-weight: bold;
  }

  .cart_btn{
    position: absolute;
    width:51px; height:52px;
    background: url(images/more_icon.png) no-repeat;
    text-indent: -9999px;
    position: absolute;
    top:293px;
    right:20px;
  }

  .best_1box_image a{
    display:block;
    width: 283px;
    height: 364px;
    background: url(images/best_image_1.jpg) no-repeat;
  } 

  .best_2box_image a{
    display:block;
    width: 283px;
    height: 364px;
    background: url(images/best_image_2.jpg) no-repeat;
  } 

  .best_3box_image a{
    display:block;
    width: 283px;
    height: 364px;
    background: url(images/best_image_3.jpg) no-repeat;
  } 

  .best_4box_image a{
    display:block;
    width: 283px;
    height: 364px;
    background: url(images/best_image_4.jpg) no-repeat;
  } 


 

  .best_1box_image a:hover,
  .best_2box_image a:hover,
  .best_3box_image a:hover,
  .best_4box_image a:hover,
  .review_1box_image a:hover,
  .review_2box_image a:hover,
  .review_3box_image a:hover,
  .review_4box_image a:hover,
  .time_image a:hover{
    transform: scale(1.05);
  }
  .best_1box_image a,
  .best_2box_image a,
  .best_3box_image a,
  .best_4box_image a,
  .review_1box_image a,
  .review_2box_image a,
  .review_3box_image a,
  .review_4box_image a,
  .time_image a{
    transition: all 0.2s linear;
  }
  .best_1box_image,
  .best_2box_image,
  .best_3box_image,
  .best_4box_image,
  .review_1box_image,
  .review_2box_image,
  .review_3box_image,
  .review_4box_image{
    width:283px; height: 364px;
    margin: 0px auto;
    overflow: hidden;
  }

  .time_image{
    width:758px; height: 355px;
    margin: 0px auto;
    overflow: hidden;
  }



  /* review item */


  .review_1box_image a{
    display:block;
    width: 283px;
    height: 364px;
    background: url(images/review_image_1.jpg) no-repeat;
  } 

  .review_2box_image a{
    display:block;
    width: 283px;
    height: 364px;
    background: url(images/review_image_2.jpg) no-repeat;
  } 

  .review_3box_image a{
    display:block;
    width: 283px;
    height: 364px;
    background: url(images/review_image_3.jpg) no-repeat;
  } 

  .review_4box_image a{
    display:block;
    width: 283px;
    height: 364px;
    background: url(images/review_image_4.jpg) no-repeat;
  } 


  .product_sale_txt1 a{
    font-size: 16px;
    font-weight: bold;
    float: left;
    margin-right: 7px;
    color: rgb(250, 98, 47);
  }

  .product_sale_txt2 a{
    font-size: 16px;
    font-weight: bold;

  }
  
  .product_sale_txt3 a{
    display: block;
    margin-top: 2px;
    color: #6c6c6c;
    text-decoration: line-through;
  }


  



  
  
  
  /* event */
  .event_image a {
    width: 1200px;
    height: 160px;
    background: url(images/event_image1.jpg) no-repeat;
    text-indent: -9999px;
    display: block;
    margin: 0 auto 100px;
  }
  
  /* time sale */

  .time{
    width:1200px;
    margin:0 auto 80px;
    display: flex;
    justify-content: space-between;
  }


  .time_box1 h2{
    font-size: 30px;
    margin-bottom: 10px;
  }

  .time_box1_txt1{
    font-size: 16px;
    font-weight: bold;
    color: #999;
    margin-bottom: 30px;
  }

  .time_icon{
    display: block;
    width: 36px;
    height: 36px;
    background: url(images/time_icon.png) no-repeat;
    margin-right: 5px;
  }

  .time_box1_txt2{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 5px;
  }

  .time_box1_sub{
    display: flex;
    align-items: center;
  }

  .time_box1_txt3{
    margin-top: 32px;
    font-size: 16px;
    font-weight: bold;
    color: #999;
  }










  .time_image a{
    display:block;
    width: 758px;
    height: 355px;
    background: url(images/time_image_1.jpg) no-repeat;
  }

  .time_box2{
    position: relative;
  }

  .time_box2_txt{
    width: 758px;
    padding-top: 15px;
    word-spacing: 0;
  }

  .time_box2_txt1{
    color:#6c6c6c;
    margin-bottom: 8px;
  }

  .time_box2_txt2{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .time_box2_txt3{
    display:inline-block;
    font-size: 20px;
    font-weight: bold;
    color: rgb(250, 98, 47);
    margin-right:3px;
  }

  .time_box2_txt4{
    display:inline-block;
    font-size: 20px;
    font-weight: bold;
  }
  
  .time_box2_txt5{
    display:inline-block;
    font-size: 14px;
    color: #6c6c6c;
    text-decoration: line-through;
  }

  .cart_btn2{
    position: absolute;
    width:51px; height:51px;
    background: url(images/more_icon.png) no-repeat;
    text-indent: -9999px;
    position: absolute;
    top:284px;
    right:20px;
  }





  
  /* day menu */
  
  .day {
    width: 1200px;
    margin: 0 auto 100px;
  }
  
  .day_head h2{
    text-align: center;
    font-size: 28px;
    margin-bottom:10px;
  }

  .day_head p{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
  }





  .day_box{
    display:flex;
    justify-content: space-between;
  }

  .day_box1 a{
    display:block;
    text-indent:-9999px;
    width:620px;
    height:411px;
    border-radius: 3px;
    background: url(images/day_image1_1.jpg) no-repeat;
  }



  .day_box2{
    width:530px;
    height: 411px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .day_box2_txt1{
    font-size: 20px;
    color: #6C8B6C;
    font-weight: bold;
    height:30px;
  }

  .day_box2_txt2{
    font-size: 28px;
    font-weight: bold;
    color:#6C8B6C;
    height: 35px;
  }
  .day_box2_txt3{
    color:#999999;
    margin-top:15px;
    line-height: 1.7;
    word-spacing: -1px;
}

  .day_box2_txt4{
    display:block;
    padding:25px 0 22px;
    border-bottom:1px solid #999999;
    font-weight: bold;
    
  }
  
  .day_box2_txt4 span{
    display:inline-block;
    width:14px; 
    height:14px;
    background: url(images/day_icon.png) no-repeat;
    text-indent: -9999px;
    line-height: 13px;
    margin-left:5px;
  }

  .day_box2_txt5 button{
    width:140px; height: 40px;
    border-radius: 3px;
    margin:22px 0 10px;
    background:#6C8B6C;
    font-size: 15px;
    font-weight: bold;
    color:#fff
  }






  .day_box2_image{
    display:flex;
    justify-content: space-between;
  }

  .day_box2_image a{
    display:block;
    border-radius: 3px;
    width:70px;
    height:90px;
    background: #222;
    text-indent: -9999px;
  }



  .day_box2_image_1 a{
    background: url(images/day_sub_1.jpg) no-repeat;
  }

  .day_box2_image_2 a{
    background: url(images/day_sub_2.jpg) no-repeat;
  }

  .day_box2_image_3 a{
    background: url(images/day_sub_3.jpg) no-repeat;
  }

  .day_box2_image_4 a{
    background: url(images/day_sub_4.jpg) no-repeat;
  }

  .day_box2_image_5 a{
    background: url(images/day_sub_5.jpg) no-repeat;
  }

  .day_box2_image_6 a{
    background: url(images/day_sub_6.jpg) no-repeat;
  }






/*   
  .day_image {
    width: 1200px;
    height: 403px;
    background: url(images/day_image.jpg) no-repeat;
    padding: 0 105px 115px 694px;
    box-sizing: border-box;
    position: relative;
  }
  
  .day dt {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .day dd {
    font-size: 14px;
    font-weight: 500;
  }
  
  .day_more {
    width: 134px;
    height: 17px;
    background: url(images/day_more.jpg) no-repeat;
    text-indent: -9999px;
    display: block;
    position: absolute;
    bottom: 160px;
  }
  
  .day_bar {
    display: block;
    width: 400px;
    height: 1px;
    border-bottom: 1px solid #000;
    position: absolute;
    bottom: 115px;
  } */
  
  
  
  
  /* footer */
  
  
  .footer{
    width:1200px;
    height:237px; 
    margin:auto;
  }
  
  .footer ul{
    width:1200px;
    height:60px;
    font-size:16px; 
    font-weight: bold;
    color:#6c6c6c;
    line-height: 60px;
    border-top:1px solid #1b8e1d;
    border-bottom:1px solid #6c6c6c;
  
  }
  
  .footer_menu1{
    float:left;
    margin-right:23px;
    color:#6c6c6c;
  }
  
  
  .footer a{
    color:#6c6c6c;
  }
  
  .footer_menu5 > a{
    color:#000;
  }
  
  
  .footer_menu2{
    float:left;
    margin-right:23px;
  }
  
  .footer_menu3{
    float:left;
    margin-right:23px;
  }
  
  .footer_menu4{
    float:left;
    margin-right:23px;
  }
  
  .footer_menu5{
    float:left;
    margin-right:23px;
  }
  
  .footer_menu6{
    float:left;
  }
  
  
  .footer_bottom{
  width:1200px;
  height:176px;
  padding:30px 0;
  box-sizing: border-box;
  line-height:30px;
  color:#6c6c6c;
  }


  .day_box2_txt5{
    color:#999999;
  }
/* 
  .test111{
    display:inline-block;
    width:1px;
    height:15px;
    margin:0 5px;
    background: #999999;
  } */


  .day_box2_txt5_1:after {
    content: "|";
    margin: 0 6px;
    color: #999999;
  }
  
  
  

  
  
  
  