/* CSS 초기화 */
body,h1,h2,h3,p,div,ul,li,dl,dt,dd {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans","나눔고딕", "맑은 고딕", "돋움";
  font-size: 14px;
  color:#222;
  letter-spacing:-1px;
  word-spacing:-2px;
}

body button{
  font-family: "Noto Sans","나눔고딕", "맑은 고딕", "돋움";
}

ul,li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222
}
address {
  font-style: normal;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
.hide {
  position: absolute;
  left: -9999px;
  top: -9999px;
}





/* header */

.header {
  height: 160px;
  margin: auto;
  border-top: 1px solid #fff;
  position:relative;
}

.header_sub_box{
  width:1200px;
  margin:auto;
  display: flex;
  justify-content: space-between;
}


.logo {
  width:170px;
  padding:48px 0 14px;
}

.logo a {
  display: block;
  width: 118px;
  height: 46px;
  background: url(images/logo.jpg) no-repeat;
  text-indent: -9999px;
}


.gnb_box{
  width:100%;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
}


.gnb{
  width:1200px;
  margin: auto;
  display:flex;
  justify-content: space-between;
  font-weight: bold;
  height: 52px;
  align-items: center;
}


.gnb_box1{
  display:flex;
  width:250px;
  align-items: center;
  height: 52px;
}

.category_box{
  width:89px;
  display:flex;
  position: relative;
  align-items: center;
  height: 52px;
}


.category_icon{
  display:block;
  position: relative;
  width:24px; height:24px;
  background: url(images/gnb_bar.png) no-repeat;
  margin-right:5px;
  left:-3px;
}



.hover3{
  z-index: 9;
  width:24px; height:24px;
  background: url(images/gnb_bar2.png) no-repeat;
}


.category_text{
  font-size:16px;
  line-height: 24px;
}

.category_2box{
  position: absolute;
  width:220px;
  left:0; top:52px;
  z-index: 1;
  background: #fff;
  border:1px solid #f1f1f1;
  font-size:14px;
  display:none;
}


.category_2box li a{
  display:block;
  height: 45px;
  line-height: 45px;
  padding-left:10px;
}


.category_2box ul{
  position: absolute;
  left:220px;
  width:220px;
  top:-1px;
  background: #f1f1f1;
  border:1px solid #f1f1f1;
  display:none;

}










.gnb_box2{
  display:flex;
  font-size:16px;
  line-height: 24px;  
  justify-content: space-between;
}

.gnb_box2_1 a,
.gnb_box2_2 a,
.gnb_box2_3 a,
.gnb_box2_4 a{
  display:block;
  width:150px;
  text-align: center;
}





.gnb_box3_1 a:hover{
  z-index: 1;
  width:28px; height:25px;
  background: url(images/sub_icon1_1.png);
}

.gnb_box3_2 a:hover{
  z-index: 9999;
  width:25px; height:25px;
  background: url(images/sub_icon2_1.png);
}

.gnb_box3_3 a:hover{
  z-index: 9999;
  width:29px; height:25px;
  background: url(images/sub_icon3_1.png);
}





.hover{
  display:block;
  color:#1b8e1d;
}



.category_2box > li > a:hover{
  color:#1b8e1d;
  border-right:3px solid #1b8e1d;
}

.category_2box ul a:hover{
  color:#1b8e1d;
  border-right:3px solid #1b8e1d;
}







.hover2{
  display:block;
  background: #f1f1f1;
  color:#1b8e1d;
}




.gnb_box3{
  display:flex;
  width: 250px;
  align-items: center;
  height: 52px;
  justify-content: flex-end;

}

.gnb_box3_1 a{
  display:block;
  width:28px; height:25px;
  background:url(images/sub_icon1.png) no-repeat;
  text-indent: -9999px;
}

.gnb_box3_2 a{
  display:block;
  width:25px; height:25px;
  background:url(images/sub_icon2.png) no-repeat;
  text-indent: -9999px;
  margin-left:16px;
}


.gnb_box3_3 a{
  display:block;
  width:29px; height:25px;
  background:url(images/sub_icon3.png) no-repeat;
  text-indent: -9999px;
  margin-left:15px;
}



.sub_menu_box{
  width:170px;
  padding-top:10px;
}


.sub_menu_box_1{
  font-size: 12px;
  padding-left:9px;
  height: 16px;
  
}

.sub_menu_box_1 li{
  float:left;
}





.site_map1 a{
  color: #1b8e1d;
}

.site_map1:after {
  content: "|";
  margin: 0 9px;
  color: rgb(217, 217, 217);
}

.site_map2:after {
  content: "|";
  margin: 0 9px;
  color: rgb(217, 217, 217);
}


.search_box{
  padding:47px 0 14px;
}

.search_box_1{
  width:400px; height:48px;
  padding-left:14px;
  border-radius: 3px;
  border:1px solid #1b8e1d;
  box-sizing: border-box;
  /* position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); */

}


.search_box_1 form{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.search_box_1 input{
  display:block;
  width: 300px; height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
}

.submit_icon {
  display:block;
  width: 30px; height: 30px;
  background: url(images/header_serach.png) no-repeat;
  background-size: 90%;
  margin:0 10px 0 0;
}















/* order_list css */


/* order_product */
.order_list {
  width: 1200px;
  margin: 0 auto 100px;
}

.order_list_h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin:50px 0 60px;
}

.order_product {
  font-size:16px;
  font-weight: bold;
  margin-bottom:80px;
}

.order_product > h3,
.user_info > h3,
.shipping_info > h3,
.coupon > h3,
.payment_method > h3,
.order_list_check_box > h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.order_product_box_1 {
  display: flex;
  padding: 15px 0;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  justify-content: space-between;
  align-items: center;
}

.order_product_box_1 > dt {
  display: flex;
  width:400px;
  align-items: center;
}

.order_product_box_1 dt > span {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #e1e084;
  margin-right: 60px;
}

.order_product_box_3 {
position: relative;
left: 280px;
}

.order_product_2box_1 {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222;
}

.order_product_2box_1 > dt {
  display: flex;
  width:400px;
  align-items: center;
}

.order_product_2box_1 span {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #e1e084;
  margin-right: 60px;
}

.order_product_2box_3 {
  position: relative;
  left: 280px;
}

.order_product_box_5,
.order_product_2box_5 {
  font-size: 14px;
  color: #6c6c6c;
  text-decoration: line-through;
}


.order_product_sub_1,
.order_product_sub_2 {
  text-align: right;
  font-weight: bold;
  width:100px;
}





/* user_info */
.user_info {
  margin-bottom:80px;
}

.user_info_box, 
.shipping_info_box,
.coupon_box,
.payment_method_box {
  padding: 15px 0;
  border-top: 1px solid #222;
}

.user_info dt {
  float: left;
  width: 210px;
  font-weight: bold;
}

.user_info_box{
  padding-bottom: 20px;
}

.user_info_2box {
  padding-bottom: 20px;
}






.user_info_3box_sub {
  padding:10px 0 0 210px;
  font-size: 12px;
  color: #6c6c6c;
}

.shipping_info_box dt {
  font-weight: bold;
  float: left;
  width: 210px;
}

.shipping_btn {
  display: inline-block;
  background-color: rgb(230, 230, 230);
  width: 70px;
  height: 24px;
  line-height:24px;
  text-align: center;
  font-size: 12px;
  border-radius: 12px;
  color:rgb(102, 102, 102);
  font-weight: bold;
}

.shipping_info_box_2 {
  position: relative;
  left: 210px;
  top: 10px;
}

.shipping_info_box {
  margin-bottom: 30px;
}

.shipping_info_2box dt {
  float: left;
  width: 210px;
  height: 110px;
  font-weight: bold;
}

.shipping_info_2box_2 {
  margin-bottom: 15px;
}

.shipping_info_2box_3 {
  float: left;
}

.shipping_info_2box_3:after {
  content: "|";
  margin: 0 8px;
}

.shipping_2box_sub {
  margin-bottom: 8px;
  color: #6c6c6c;
}

.shipping_info_2box_5 {
  float: left;
}

.shipping_info_2box_5:after {
  content: "|";
  margin: 0 8px;
}

.shipping_2box_2sub {
  margin-bottom: 20px;
  color: #6c6c6c;
}

.shipping_info_2box a {
  display: block;
  border: 1px solid rgb(230, 230, 230);
  width: 60px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}

.shipping_info {
  margin-bottom: 80px;
}

.coupon {
  margin-bottom: 80px;
}


.coupon_box dt {
  float: left;
  width: 210px;
  height: 43px;
  line-height: 43px;
  font-weight: bold;
}

.coupon_select {
  width: 550px;
  height: 43px;
  border: 1px solid rgb(230, 230, 230);
  margin-bottom: 10px;
  font-size: 14px;
  padding-left: 15px;
  appearance: none;
  background: url("images/coupon_icon.png") no-repeat right 16px center;
  box-sizing: border-box;
}

.coupon_side_box {
  position: relative;
  left: 210px;
  margin-bottom: 30px;
}

.coupon_side_box1 {
  margin-bottom: 8px;
  font-size: 13px;
  color: #222;
}

.coupon_side_box2 a {
  display: block;
  font-size: 13px;
  color: #6c6c6c;
}


.coupon_2box dt {
  float: left;
  width: 210px;
  padding-bottom:120px;
  font-weight: bold;
  line-height: 43px;
}

.coupon_2box_1 {
  display: block;
  float: left;
  width: 165px;
  height: 43px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
  background-color: #fafafa;
  line-height: 43px;
  padding-left: 15px;
  box-sizing: border-box;
  margin-right: 10px;
  font-weight:bold;
  color: rgb(180, 180, 180);
  box-sizing: border-box;
}

.coupon_2box_side {
  height: 43px;
  margin-bottom: 10px;
}

.coupon_2box_2 {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 3px;
  color: rgb(180, 180, 180);
  width: 100px;
  height: 43px;
  font-weight: bold;
  box-sizing: border-box;
}

.coupon_2box_3 {
  font-size: 13px;
  margin-bottom: 20px;
}

.coupon_2box_4,
.coupon_2box_5 {
  font-size: 13px;
  color: #6c6c6c;
}

.coupon_2box_4 {
  margin-bottom: 8px;
}

.coupon {
  position: relative;
}

.payment_check_box {
  background-color: #fafafa;
  width: 370px;
  padding: 25px 18px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  top: -26px;
}

.payment_check_box h3{
  padding-bottom:30px;
  font-size: 20px;
}

.payment_check_box dl {
  display: flex;
  justify-content: space-between;
}

.payment_check_box2,
.payment_check_box3 {
  font-size: 14px;
  color: #6c6c6c;
}

.payment_check_box1{
  font-size:16px;
}

.payment_check_box2 {
  padding: 15px 0 5px;
}
.payment_check_box3 {
  padding-bottom: 15px;
}


.payment_check_box4,
.payment_check_box5 {
  margin-bottom: 15px;
  font-size:16px;
}

.payment_check_box6 {
  padding-bottom: 20px;
  border-bottom:1px solid #e8e8e8;
  font-size: 16px;
}

.payment_check_box7{
  padding:20px 0;
}

.payment_check_box7 dt{
  font-size:16px;
}

.payment_check_box7 dd {
  font-size: 22px;
  font-weight: bold;
}


.basket_paybox_2_5{
  padding-left:155px;
  display: flex;
  justify-content: space-between;
 }
 
 .basket_paybox_2_5_1{
   font-size: 12px;
   width:40px;
   background-color:#f0c018;
   text-align: center;
   border-radius: 10px;
   color:#fff;
   font-weight: bold;
   line-height:19px;
 }
 
 
 .basket_paybox_2_5_2{
   font-size: 14px;
   letter-spacing:-1px;
 }
 
 .basket_paybox_2_5_3{
   font-size: 14px;
   letter-spacing:-1px;
   color:#6c6c6c
 }



.payment_method {
  margin-bottom: 80px;
}

.payment_method_box dt {
  width: 210px;
  float: left;
  line-height: 50px;
  font-weight: bold;
  height: 100px;
}

.payment_kakao_icon {
  display: block;
  position: relative;
  left: 210px;
  width: 413px;
  height: 50px;
  background: url(images/payment_kakao_icon.png);
  text-indent: -9999px;
  margin-bottom: 10px;
}

.payment_btn {
display:flex;
}

.payment_btn1 a,
.payment_btn3 a {
  display: block;
  width: 138px;
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
}
.payment_btn2 a{
  display: block;
  width: 138px;
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  box-sizing: border-box;
}


.payment_btn1 a {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


.payment_btn3 a {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.payment_box button {
  display: block;
  width: 251px;
  height: 63px;
  margin: 60px auto 40px;
  background-color: #1b8e1d;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

.payment_box ul {
  text-align: center;
  color: #6c6c6c;
}


input[id="order_chkbox_1"] {
  display: none;
}

input[id="order_chkbox_1"] + label em {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background: url(images/check_icon_1.png) 0 0 no-repeat;
  vertical-align: middle;
}

input[id="order_chkbox_1"]:checked + label em {
  background-position: -37px 0;
}


input[id="chkbox_1"] {
  display: none;
}

input[id="chkbox_1"] + label em {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  background: url(images/check_icon_1.png) 0 0 no-repeat;
  vertical-align: middle;
}

input[id="chkbox_1"]:checked + label em {
  background-position: -37px 0;
}

.order_list_chkbox_1{
  font-size:18px;
  font-weight: bold;
  padding-top:15px;
  border-top:1px solid #222;
  margin-bottom:30px;
}

.order_list_chkbox_1 label{
display:flex;
line-height:32px;
}



.order_list_chkbox_2, .order_list_chkbox_3{
  margin-bottom:8px;
}



