/* CSS 초기화 */
body,h1,h2,h3,p,div,ul,li,dl,dt,dd {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans","나눔고딕", "맑은 고딕", "돋움";
  font-size: 14px;
  color:#222;
  letter-spacing:-1px;
  word-spacing:-2px;
}

body button{
  font-family: "Noto Sans","나눔고딕", "맑은 고딕", "돋움";
}

ul,li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222
}
address {
  font-style: normal;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
.hide {
  position: absolute;
  left: -9999px;
  top: -9999px;
}





/* header */

.header {
  height: 160px;
  margin: auto;
  border-top: 1px solid #fff;
  position:relative;
}

.header_sub_box{
  width:1200px;
  margin:auto;
  display: flex;
  justify-content: space-between;
}


.logo {
  width:170px;
  padding:48px 0 14px;
}

.logo a {
  display: block;
  width: 118px;
  height: 46px;
  background: url(images/logo.jpg) no-repeat;
  text-indent: -9999px;
}


.gnb_box{
  width:100%;
  box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
}


.gnb{
  width:1200px;
  margin: auto;
  display:flex;
  justify-content: space-between;
  font-weight: bold;
  height: 52px;
  align-items: center;
}


.gnb_box1{
  display:flex;
  width:250px;
  align-items: center;
  height: 52px;
}

.category_box{
  width:89px;
  display:flex;
  position: relative;
  align-items: center;
  height: 52px;
}


.category_icon{
  display:block;
  position: relative;
  width:24px; height:24px;
  background: url(images/gnb_bar.png) no-repeat;
  margin-right:5px;
  left:-3px;
}



.hover3{
  z-index: 9;
  width:24px; height:24px;
  background: url(images/gnb_bar2.png) no-repeat;
}


.category_text{
  font-size:16px;
  line-height: 24px;
}

.category_2box{
  position: absolute;
  width:220px;
  left:0; top:52px;
  z-index: 1;
  background: #fff;
  border:1px solid #f1f1f1;
  font-size:14px;
  display:none;
}


.category_2box li a{
  display:block;
  height: 45px;
  line-height: 45px;
  padding-left:10px;
}


.category_2box ul{
  position: absolute;
  left:220px;
  width:220px;
  top:-1px;
  background: #f1f1f1;
  border:1px solid #f1f1f1;
  display:none;

}










.gnb_box2{
  display:flex;
  font-size:16px;
  line-height: 24px;  
  justify-content: space-between;
}

.gnb_box2_1 a,
.gnb_box2_2 a,
.gnb_box2_3 a,
.gnb_box2_4 a{
  display:block;
  width:150px;
  text-align: center;
}





.gnb_box3_1 a:hover{
  z-index: 1;
  width:28px; height:25px;
  background: url(images/sub_icon1_1.png);
}

.gnb_box3_2 a:hover{
  z-index: 9999;
  width:25px; height:25px;
  background: url(images/sub_icon2_1.png);
}

.gnb_box3_3 a:hover{
  z-index: 9999;
  width:29px; height:25px;
  background: url(images/sub_icon3_1.png);
}





.hover{
  display:block;
  color:#1b8e1d;
}



.category_2box > li > a:hover{
  color:#1b8e1d;
  border-right:3px solid #1b8e1d;
}

.category_2box ul a:hover{
  color:#1b8e1d;
  border-right:3px solid #1b8e1d;
}







.hover2{
  display:block;
  background: #f1f1f1;
  color:#1b8e1d;
}




.gnb_box3{
  display:flex;
  width: 250px;
  align-items: center;
  height: 52px;
  justify-content: flex-end;

}

.gnb_box3_1 a{
  display:block;
  width:28px; height:25px;
  background:url(images/sub_icon1.png) no-repeat;
  text-indent: -9999px;
}

.gnb_box3_2 a{
  display:block;
  width:25px; height:25px;
  background:url(images/sub_icon2.png) no-repeat;
  text-indent: -9999px;
  margin-left:16px;
}


.gnb_box3_3 a{
  display:block;
  width:29px; height:25px;
  background:url(images/sub_icon3.png) no-repeat;
  text-indent: -9999px;
  margin-left:15px;
}



.sub_menu_box{
  width:170px;
  padding-top:10px;
}


.sub_menu_box_1{
  font-size: 12px;
  padding-left:9px;
  height: 16px;
  
}

.sub_menu_box_1 li{
  float:left;
}





.site_map1 a{
  color: #1b8e1d;
}

.site_map1:after {
  content: "|";
  margin: 0 9px;
  color: rgb(217, 217, 217);
}

.site_map2:after {
  content: "|";
  margin: 0 9px;
  color: rgb(217, 217, 217);
}


.search_box{
  padding:47px 0 14px;
}

.search_box_1{
  width:400px; height:48px;
  padding-left:14px;
  border-radius: 3px;
  border:1px solid #1b8e1d;
  box-sizing: border-box;
  /* position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); */

}


.search_box_1 form{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.search_box_1 input{
  display:block;
  width: 300px; height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
  background: transparent;
}

.submit_icon {
  display:block;
  width: 30px; height: 30px;
  background: url(images/header_serach.png) no-repeat;
  background-size: 90%;
  margin:0 10px 0 0;
}








  

/* sub_guide */



.sub_guide{
    width:1200px;
    height:70px;
    margin:auto;
    line-height: 70px;
}

.sub_guide_home{
    float:left;
    margin-right:8px;

}

.sub_guide_home2{
    display:block;
    float:left;
    width:5px; height:11px;
    background: url(images/product_icon_4.jpg) no-repeat;
    margin-top:31px;
}

.sub_guide_home3{
    float:left;
    margin-left:8px;
}
  



.product_box{
    width:1200px;
    height:660px;
    margin:auto;
}

.product_left{
    width:580px; height: 540px;
    float:left;
    margin-right:70px;
    margin-bottom:80px;
}

.product_1{
    float:left;
    display:block;
    width:480px; height:540px;
    background: url(images/product_1.jpg) no-repeat;
    margin-right:15px;
}

.product_2{
    float:left;
    display:block;
    width:85px; height:100px;
    background: url(images/product_2.jpg);
    margin-bottom: 10px;
}

.product_3{
    float:left;
    display:block;
    width:85px; height:100px;
    background-color: #b2ca8f;
    margin-bottom:10px;
}
.product_4{
    float:left;
    display:block;
    width:85px; height:100px;
    background-color: #b2ca8f;
}


.product_right{
    height: 610px;
}



.product_right > h2{
    font-size:24px;
    margin-bottom:30px;
}

.product_sale{
    display:flex;
    margin-bottom:10px;
}

.sale_1{
    font-size:24px;
    font-weight: bold;
    color:#fc5a02;
    margin-right:10px;
}


.sale_2{
    font-size:24px;
    font-weight: bold;
    margin-right:8px;
}

.sale_3{
    font-weight: bold;
    line-height: 34px;
    color:#6c6c6c;
    text-decoration-line: line-through;
}




.product_review{
    display:flex;
    margin-bottom:45px;
}

.review_icon{
    width:129px; height:22px; 
    background: url(images/sale_star_icon_13.jpg) no-repeat;
    text-indent: -9999px;
    margin-right:10px;
}

.review_num{
    font-weight: bold;
    font-size: 20px;
    margin-right:10px;
    line-height: 23px;
}

.review_count{
    font-weight: bold;
    color:#6c6c6c;
    padding-top:5px; 
}




.product_cont dl{
    display:flex;
    margin-bottom:25px;
}


.product_cont dt{
    width:120px; height:40px;
    font-size:16px;
    font-weight:bold;
}

.product_cont dd{
    font-size:16px;
}

.product_btn{
    display:flex;
    width:330px; height:47px;
    background-color: #e7e7e7;
    border-radius: 5px;
    margin-bottom:17px;
}

.product_btn form{
display:flex;
}

.product_btn form > div{
    display:flex;
    width:50px;
}

.btn1{
    font-size:18px;
    width:35px;
    height:30px;
    padding-right: 10px;
}


.btn2{
    font-size:18px;
    width:35px;
    height:30px;
}

.product_btn form > div > div{
    font-size: 16px;
}


.product_order{
    display:flex;
}

.product_icon_1 a{
    display:block;
    width:47px; height: 47px;
    background: url(images/product_icon_1.jpg) no-repeat;
    text-indent: -9999px;
    margin-right:8px;
}

.product_icon_2 a{
    display:block;
    width:47px; height: 47px;
    background: url(images/product_icon_2.jpg) no-repeat;
    text-indent: -9999px;
    margin-right:8px;
}
    

.product_icon_3 a{
    display:block;
    width:47px; height: 47px;
    background: url(images/product_icon_3.jpg) no-repeat;
    text-indent: -9999px;
    margin-right:10px;
}


.product_order_btn {
    width:163px; height:47px;
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    background-color: #1b8e1d;
    border-radius: 5px;
}


.product_info{
  width:1200px;
  margin:auto;
  display:flex;
  padding: 30px 0;
  border-top:1px solid #000;
  border-bottom:1px solid #6c6c6c;
  justify-content: space-around;
  font-size:20px;
  font-weight: bold;

  margin-bottom:100px;
}



.product_info_2 a{
  color:#6c6c6c;
}













/* footer */
  
  
.footer{
    width:1200px;
    height:237px; 
    margin:auto;
  }
  
  .footer ul{
    width:1200px;
    height:60px;
    font-size:16px; 
    font-weight: bold;
    color:#6c6c6c;
    line-height: 60px;
    border-top:1px solid #1b8e1d;
    border-bottom:1px solid #6c6c6c;
  
  }
  
  .footer_menu1{
    float:left;
    margin-right:23px;
    color:#6c6c6c;
  }
  
  
  .footer a{
    color:#6c6c6c;
  }
  
  .footer_menu5 > a{
    color:#000;
  }
  
  
  .footer_menu2{
    float:left;
    margin-right:23px;
  }
  
  .footer_menu3{
    float:left;
    margin-right:23px;
  }
  
  .footer_menu4{
    float:left;
    margin-right:23px;
  }
  
  .footer_menu5{
    float:left;
    margin-right:23px;
  }
  
  .footer_menu6{
    float:left;
  }
  
  
  .footer_bottom{
  width:1200px;
  height:176px;
  padding:30px 0;
  box-sizing: border-box;
  line-height:30px;
  color:#6c6c6c;
  }
  
  

  
  
  .scale:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
  
  
  
  
  






