/* CSS 초기화 */
body,h1,h2,h3,p,div,ul,li,dl,dt,dd {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Noto Sans","나눔고딕", "맑은 고딕", "돋움";
    font-size: 14px;
    color:#222;
    letter-spacing:-1px;
    word-spacing:-2px;
  }
  
  body button{
    font-family: "Noto Sans","나눔고딕", "맑은 고딕", "돋움";
  }
  
  ul,li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #222
  }
  address {
    font-style: normal;
  }
  button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer;
  }
  .hide {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  

/* join-form */




.join_box h2{
  text-align: center;
  font-size: 28px;
  padding: 80px 0 60px;
}

.identify {
  color:#de3c3c;
}


input[type='radio'],
input[type='radio']:checked {
  appearance: none;
}

input[type='radio'] {
  width: 24px;
  height: 24px;
  display:inline-block;
  position: relative;
  border-radius: 50%;
  background-color: white;
  border:1px solid rgb(221, 221, 221);
  box-sizing: border-box;
}
input[type='radio']:checked {
  width: 24px;
  height: 24px;
  display:inline-block;
  position: relative;
  border: 7px solid #1b8e1d;
  border-radius: 50%;
  background-color: #fff;
}

.dsp_txt{
  display: block;
  font-size: 12px;
  padding: 5px 0 20px 140px;
}

.join_box{
    width: 1200px;
    margin: auto;
    background-color: #8e8e8e;
}
  

form{
  background-color: beige;
  width: 550px;
  margin: auto;
  padding: 20px 45px;
  border-top : 1px solid #222;
  box-sizing: border-box;
}


.left_box{
  display: block;
  width: 120px;
  font-size: 14px;
  font-weight: bold;

}



.id_box,
.pwd_box,
.repwd_box,
.name_box,
.email_box,
.mobile_box,
.birth_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gender_box{
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gender_sub_box{
  display: flex;
  width: 320px;
  height: 46px;
  align-items: center;
}

.repwd_box,
.name_box,
.email_box{
  padding-bottom: 20px;
}


.id_box input,
.pwd_box input,
.repwd_box input,
.name_box input,
.email_box input,
.mobile_box input,
.birth_box input{
  width:320px; height: 46px;
  font-size:15px;
  padding:0 15px 0 15px;
  border-radius: 3px;
  border:1px solid rgb(221, 221, 221);
  box-sizing: border-box;
}










